
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-sign form-signin', role: 'form'}) do |f| %>
  <h2 class="form-signin-heading">Sign In</h2>

  <%= f.email_field :email, autofocus: true, class: 'form-control', required: '', placeholder: 'email' %>

  <%= f.password_field :password, autocomplete: "off", class: 'form-control', required: '', placeholder: 'password' %>

  <% if devise_mapping.rememberable? -%>
    <div class='checkbox'>
    	<label>
    		<%= f.check_box :remember_me %> <%= f.label :remember_me %>
    	</label>
    </div>
  <% end -%>

  <div><%= f.submit "Sign In", class: 'btn btn-lg btn-primary btn-block' %></div>
  <%= render "devise/shared/links" %>

<% end %>


